body {
    font-family: Arial;
    background: #8a2af8;
    padding: 20px;
}

.container {
    background: rgb(41, 225, 238);
    padding: 25px;
    width: 90%;
    max-width: 700px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 10px gray;
}

input, textarea, select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid gray;
}

.addBtn {
    background: green;
    color: white;
    padding: 10px;
    width: 150px;
    border: none;
    border-radius: 5px;
    margin: 10px 0;
}

button {
    width: 100%;
    padding: 10px;
    background: #007bff;
    color: white;
    border: none;
    font-size: 17px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

table th, table td {
    border: 1px solid gray;
    padding: 8px;
    text-align: center;
}

#grandTotal {
    font-weight: bold;
    background: #efefef;
}
